backcall==0.2.0
beautifulsoup4==4.11.1
bpy==2.91a0
charset-normalizer==2.1.1
decorator==5.1.1
filelock==3.8.0
future-fstrings==1.2.0
gdown==4.5.3
idna==3.4
ipython==7.34.0
jedi==0.18.1
matplotlib-inline==0.1.6
numpy==1.21.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.32
ptyprocess==0.7.0
Pygments==2.13.0
PySocks==1.7.1
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.1
traitlets==5.5.0
urllib3==1.26.12
wcwidth==0.2.5
